<!DOCTYPE html>
<html>
<head>
    <title>{{ config.title }} - Publications</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
</head>
<body>
    <h1><a href="index.html">{{ config.title }}</a></h1>

    <div class="container">
        <div class="main-content">
            {% if publications.publications %}
                <h2>Publications</h2>
                {% for pub in publications.publications %}
                    <p>
                        <a href="{{ pub.link }}">{{ pub.name }}</a>, <em>{{ pub.date }}</em><br>
                        {{ pub.authors | join(', ') }}<br>
                        {{ pub.description }}
                    </p>
                {% endfor %}
            {% endif %}

            {% if publications.talks %}
                <h2>Talks</h2>
                {% for talk in publications.talks %}
                    <p>
                        <a href="{{ talk.link }}">{{ talk.title }}</a> at {{ talk.event }}, <em>{{ talk.date }}</em><br>
                        {{ talk.summary }}
                    </p>
                {% endfor %}
            {% endif %}

            {% if publications.other %}
                <h2>Other</h2>
                {% for item in publications.other %}
                    <p>
                        <a href="{{ item.link }}">{{ item.title }}</a> ({{ item.type }}), <em>{{ item.date }}</em><br>
                        {{ item.details }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="sidebar">
            <h2>About</h2>
            <div>
                {% for paragraph in split(config.about, '\n\n') %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <h2>Links</h2>
            <ul>
                {% for link in config.links %}
                    <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer>
        <div>
            <p>Guillermo Facundo Colunga</p>
            <p>guillermo.facundo.colunga@gmail.com</p>
        </div>
        <div>
            <p>Creative Commons 4.0</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>